*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 30vw;
    padding: 50px;
    margin: 50px auto;
    text-align: center;
}
input{
    display: block;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}
button{
    padding: 10px;
    background-color: blue; 
    color: white;
}